body
{
    font-size: 1.2em;
}
div
{
    margin: 10px;
}
button
{
    margin-top: 10px;
    height: 40px;
    min-width: 80px;
    text-align: center;
}
h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}
h3 {
    margin-top: 0;
}
.radio-option {
    display: block;
    margin: 0;
}
.radio-option label {
    margin-left: 10px;
}
#langdirect
{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
#langdirect div {
    width: 200px;
    display: block;
    text-align: left;
    margin-left: 0;
    margin-right: 20px;
}
